#Gitignore for SenseGlove_API

#Don't need 200+ files just to show how SGConnect::Init() and SGConnect::Dispose() work
Core/SGConnect/doc* 

#ignore any session logs created by SenseCom during testing
*sessionLog.txt

#bak files made using programs like Notepad++.
*.bak

# 3rd Party Generated
serial.dll
serial.lib
libserial.so
libserial.a
include/serial/
include/boost/
include/SenseGlove/Connect/Connection.hpp
include/SenseGlove/Connect/ConnectionData.hpp
include/SenseGlove/Connect/ConnectionFactory.hpp
include/SenseGlove/Connect/ConnectionsTracker.hpp
include/SenseGlove/Connect/ConnectionTester.hpp
include/SenseGlove/Connect/Debugger.hpp
include/SenseGlove/Connect/DeviceScanner.hpp
include/SenseGlove/Connect/ExitCodes.hpp
include/SenseGlove/Connect/HapticResponse.hpp
include/SenseGlove/Connect/IdResponse.hpp
include/SenseGlove/Connect/IpcCommand.hpp
include/SenseGlove/Connect/NewSGDevice.hpp
include/SenseGlove/Connect/PortInfo.hpp
include/SenseGlove/Connect/SerialConnection.hpp
include/SenseGlove/Connect/SerialPorts.hpp
include/SenseGlove/Connect/SGDevice.hpp
include/SenseGlove/Connect/SharedMem.hpp
include/SenseGlove/Connect/StringUtils.hpp
include/SenseGlove/Connect/TestingState.hpp
include/SenseGlove/Connect/TransmissionMode.hpp
