#Gitignore for SenseGlove_API

#don't need 200+ files just to show how SGConnect::Init() and SGConnect::Dispose() work
Core/SGConnect/doc* 

#ignore any session legs created by SenseCom during testing
*sessionLog.txt

#Builds from example projects
Examples/*/.vs
Examples/CsProject/SenseGloveCs/bin
Examples/CsProject/SenseGloveCs/obj