#Gitignore for SenseGlove_API

#Don't need 200+ files just to show how SGConnect::Init() and SGConnect::Dispose() work
Core/SGConnect/doc* 

#ignore any session logs created by SenseCom during testing
*sessionLog.txt

#bak files made using programs like Notepad++.
*.bak

# 3rd Party Generated
serial.dll
serial.lib
libserial.so
libserial.a
include/serial/
include/boost/

# Unused headers from the build system
sgble.h
sgble.hpp
SGBLExx.hpp
FloatUtils.hpp
HybridMutex.hpp
HybridSharedMutex.hpp
Intrinsics.hpp
SGLog.hpp
SGLogExportedFunctions.hpp
SGLogFfiTypes.hpp

# Unused binaries from the build system
libfmtd.a
libfmt.a
liblogurud.a
libloguru.a
libsgcommon.a
libsglog.a
libsgble.a
libsgconnectshm.a
libsgfakeshm.a
libsgcoreshm.a
libsgserial.a

sgble.lib
sgble.pdb
flatbuffers.lib
flatbuffers.pdb
fmtd.lib
fmtd.pdb
logurud.lib
logurud.pdb
loguru.lib
loguru.pdb
nng.lib
nng.pdb
serial.pdb
sgcommon.lib
sgcommon.pdb
sgcoreshm.lib
sgcoreshm.pdb
sgconnectshm.lib
sgconnectshm.pdb
sgfakeshm.lib
sgfakeshm.pdb
sglog.lib
sglog.pdb
fmt.lib
fmt.pdb
sgserial.lib
sgserial.pdb
